:host {
  display: block;
}

.form-label {
  display: block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0.5rem;
  color: $global-color-dark-blue-100;
}
